################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pinger2/bin/
/Pinger2/obj
/.vs/
